@charset "utf-8";

/* reset */
* { margin: 0; padding: 0; }
html {box-sizing: border-box; }
li{ list-style: none ;}
input, textarea{outline: none; background: transparent; border: none;}
button{border: none; background: none; cursor: pointer; border: 1px solid #000;}
img{display: block; max-width: 100%; height: auto;}
a{text-decoration: none; cursor: pointer;}