@charset "utf-8";

@font-face {
	font-family: 'PyeongChangPeace';
	font-weight: 300;
	font-style: normal;
	src: url('https://cdn.jsdelivr.net/gh/webfontworld/PyeongChang/PyeongChangPeace-Light.eot');
	src: url('https://cdn.jsdelivr.net/gh/webfontworld/PyeongChang/PyeongChangPeace-Light.eot?#iefix')
			format('embedded-opentype'),
		url('https://cdn.jsdelivr.net/gh/webfontworld/PyeongChang/PyeongChangPeace-Light.woff2')
			format('woff2'),
		url('https://cdn.jsdelivr.net/gh/webfontworld/PyeongChang/PyeongChangPeace-Light.woff')
			format('woff'),
		url('https://cdn.jsdelivr.net/gh/webfontworld/PyeongChang/PyeongChangPeace-Light.ttf')
			format('truetype');
	font-display: swap;
}
@font-face {
	font-family: 'PyeongChangPeace';
	font-weight: 700;
	font-style: normal;
	src: url('https://cdn.jsdelivr.net/gh/webfontworld/PyeongChang/PyeongChangPeace-Bold.eot');
	src: url('https://cdn.jsdelivr.net/gh/webfontworld/PyeongChang/PyeongChangPeace-Bold.eot?#iefix')
			format('embedded-opentype'),
		url('https://cdn.jsdelivr.net/gh/webfontworld/PyeongChang/PyeongChangPeace-Bold.woff2')
			format('woff2'),
		url('https://cdn.jsdelivr.net/gh/webfontworld/PyeongChang/PyeongChangPeace-Bold.woff')
			format('woff'),
		url('https://cdn.jsdelivr.net/gh/webfontworld/PyeongChang/PyeongChangPeace-Bold.ttf')
			format('truetype');
	font-display: swap;
}

@font-face {
	font-family: 'NanumSquareNeo-Variable';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2')
		format('woff2');
	font-weight: normal;
	font-style: normal;
}

.cul-project > div > .nbsp {
	vertical-align: bottom;
}

/* header */
header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 50px 311px 50px 215px;
}
.logo-box {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.logo-box img:first-child {
	margin-right: 51px;
}
.header-txt {
	font-family: NanumSquareOTF;
	font-size: 28px;
	font-style: normal;
	font-weight: 800;
	line-height: 30px;
	letter-spacing: -0.28px;
}
.header-txt span {
	color: #fff;
}
.header-txt span::before {
	content: '';
	background: #000;
	width: 258px;
	height: 31px;
	position: absolute;
	z-index: -1;
}

/* main */
.section01 {
	background-color: #0f0f0f;
	color: #fff;
	padding: 135px 0 72px 0;
	position: relative;
	overflow: hidden;
}
.section01 .cul-img::before {
	content: '';
	position: absolute;
	top: -230px;
	left: 0;
	background-image: url(../img/backgrond01.png);
	background-repeat: no-repeat;
	background-position-x: center;
	width: 100%;
	height: 100%;
	z-index: 10;
}
.section01 .cul-img::after {
	content: '';
	position: absolute;
	right: 0;
	bottom: -330px;
	background-image: url(../img/backgrond02.png);
	background-repeat: no-repeat;
	background-position-y: bottom;
	background-position-x: right;
	width: 100%;
	height: 100%;
	z-index: 10;
}
.cul-img img {
	margin: 0 auto;
}
.cul-sns {
	position: absolute;
	left: 69px;
	bottom: 90px;
}
.cul-sns > a {
	cursor: pointer;
}
.cul-wrap {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.cul-project {
	position: relative;
}
.cul-project h2 {
	font-family: 'PyeongChangPeace';
	font-size: 60px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	text-align: center;
	margin-bottom: 60px;
	position: relative;
}
.cul-project h2::after {
	content: '';
	width: 1022px;
	height: 1px;
	border-bottom: 1px solid #fff;
	position: absolute;
	bottom: -30px;
	left: -50px;
}
.cul-project div {
	display: flex;
	flex-direction: column;
}
.cul-project p {
	font-family: 'NanumSquareNeo-Variable';
	margin-bottom: 26px;
	font-size: 28px;
	font-weight: 800;
}
.cul-project p span {
	margin-left: 37px;
	font-weight: 400;
	line-height: 53px; /* 189.286% */
}
.cul-project p:nth-child(1) {
	font-style: normal;
	line-height: 53px; /* 189.286% */
}
.cul-sns {
	font-family: 'NanumSquareNeo-Variable';
	display: flex;
	flex-direction: column;
	font-size: 26px;
}
.cul-sns > a:first-child,
.cul-sns .youtube,
.cul-sns .instagram,
.cul-sns > a:last-child {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 267px;
	height: 66px;
	background: #fff;
	border-radius: 100px;
	color: #000;
	text-align: center;
	font-style: normal;
	font-weight: 800;
	line-height: normal;
	letter-spacing: -0.26px;
	margin-bottom: 18px;
	cursor: pointer;
}
.cul-sns .youtube p,
.cul-sns .instagram p {
	margin-right: 8px;
}

/* section02 */
.section02 {
	padding: 90px 320px 100px;
}
.section02 h3 {
	font-family: 'PyeongChangPeace';
	font-size: 60px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	margin-bottom: 32px;
}
.section02 > p {
	font-family: 'NanumSquareNeo-Variable';
	font-size: 30px;
	font-style: normal;
	font-weight: 400;
	line-height: 47px; /* 156.667% */
}

/* section03 */
.section03 {
	content: '';
	position: relative;
	left: 0;
	bottom: 0;
	background-image: url(../img/backgrond03.png);
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
	z-index: 10;
	padding: 100px 0 120px;
	color: #fff;
}
.section03 h3 {
	font-family: 'PyeongChangPeace';
	text-align: center;
	font-size: 60px;
	font-weight: 700;
	line-height: normal;
	margin-bottom: 50px;
}
.section03 > p {
	text-align: center;
	font-family: 'NanumSquareNeo-Variable';
	font-size: 30px;
	font-style: normal;
	line-height: 39px; /* 130% */
	letter-spacing: -1.2px;
	margin-bottom: 50px;
	line-height: 1.5;
}
.section03 p span {
	font-weight: 700;
}
.btn-txt {
	width: 630px;
	border-radius: 8px;
	background: rgba(156, 156, 156, 0.6);
	margin: 0 auto;
	padding: 28px 0;
}
.btn-txt p {
	font-family: 'PyeongChangPeace';
	color: #fff;
	text-align: center;
	font-size: 24px;
	font-weight: 300;
	font-style: normal;
	line-height: 33px; /* 137.5% */
}

/* section05 */
.section05 {
	padding: 196px 0 100px 320px;
}
.section05 > h3 {
	font-family: 'PyeongChangPeace';
	font-size: 60px;
	font-style: normal;
	font-weight: 700;
	line-height: 53px; /* 88.333% */
	margin-bottom: 96px;
}
.section05 .intro-num {
	margin-bottom: 34px;
}
.section05 .intro-num span {
	padding: 14px 20px;
	font-family: 'NanumSquareNeo-Variable';
	font-weight: 700;
}
.section05 .intro-num span {
	border: 1px solid #000;
	border-radius: 50%;
	margin-right: 20px;
	cursor: pointer;
}
.section05 .intro-num span.on {
	background: rgba(0, 0, 0, 1);
	border-radius: 50%;
	color: #fff;
}
.intro-txt-wrap {
	margin-bottom: 140px;
}
.intro-txt-wrap .intro-txt-box {
	width: 1280px;
	border-radius: 8px;
	background: #fff;
	box-shadow: 4px 4px 15px 0px rgba(0, 0, 0, 0.2);
	padding: 60px;
}
.intro-txt-wrap .intro-txt-box p:first-child {
	font-family: 'PyeongChangPeace';
	margin-bottom: 40px;
	font-size: 30px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}
.intro-txt-wrap .intro-txt-box p:last-child {
	font-family: 'NanumSquareNeo-Variable';
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: 50px; /* 208.333% */
	letter-spacing: -2px;
}
/* .project-wrap::before{
    content: '';
    position: absolute;
    width: 1280px;
    height: 1px;
    background-color: #000;
    top: 0;
    left: 0;
} */
.project-wrap {
	margin-top: 44px;
}
.project-wrap > h3 {
	font-family: 'PyeongChangPeace';
	font-size: 50px;
	font-style: normal;
	font-weight: 300;
	line-height: normal;
	margin-bottom: 14px;
}
.project-wrap > p:first-of-type {
	color: #fff;
	font-family: 'PyeongChangPeace';
	font-size: 72px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	margin-bottom: 108px;
}
.project-wrap > p:first-of-type > span {
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}
.project-wrap > p:first-of-type::before {
	content: '';
	position: absolute;
	width: 1280px;
	height: 100px;
	background: #000;
	z-index: -1;
}
.project-wrap > p:last-of-type {
	font-family: 'NanumSquareNeo-Variable';
	font-size: 30px;
	font-style: normal;
	font-weight: 400;
	line-height: 47px; /* 156.667% */
	letter-spacing: -0.6px;
	margin-bottom: 95px;
}
.project-say {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}
.project-say img {
	margin-right: 30px;
}
.project-say > p {
	color: #3b4255;
	text-align: center;
	font-family: 'NanumSquareNeo-Variable';
	font-size: 30px;
	font-style: normal;
	font-weight: 800;
	line-height: 47px; /* 156.667% */
	letter-spacing: -0.3px;
}

/* section06 */
.section06 {
	background: #000;
	padding: 100px 0 150px;
}
.section06 > h2 {
	font-family: 'PyeongChangPeace';
	color: #fff;
	font-size: 60px;
	font-style: normal;
	font-weight: 700;
	line-height: 53px; /* 88.333% */
	text-align: center;
	margin-bottom: 60px;
}
.program-wrap {
	width: 100%;
	height: 639px;
	padding-bottom: 100px;
	margin-bottom: 100px;
	box-sizing: border-box;
}
.program-container.swiper-wrapper {
	height: 539px;
	margin-left: 320px;
	margin-bottom: 100px;
	box-sizing: border-box;
}
.program-box {
	background: #fff;
	padding: 52px 84px 87px 83px;
	height: 539px;
	flex-shrink: 0;
	box-sizing: border-box;
}
.program-box > p:first-child {
	color: #000;
	font-family: 'PyeongChangPeace';
	font-size: 66px;
	font-style: normal;
	font-weight: 700;
	line-height: 53px; /* 80.303% */
	margin-bottom: 70px;
}
.program-box > p:nth-child(2) {
	color: #000;
	font-family: 'NanumSquareNeo-Variable';
	font-size: 30px;
	font-style: normal;
	font-weight: 800;
	line-height: 1.3;
	letter-spacing: -0.3px;
	margin-bottom: 43px;
}
.program-box > p:last-child {
	color: #585858;
	font-family: 'NanumSquareNeo-Variable';
	font-size: 28px;
	font-style: normal;
	font-weight: 700;
	line-height: 37px; /* 132.143% */
	letter-spacing: -0.28px;
}
.program-num-box {
	margin-left: 320px;
	margin-bottom: 167px;
}
.program-num-box,
.program-num-box > img {
	display: inline-block;
}
.program-num-box > img:first-child {
	margin-right: 18px;
}
.program-star-wrap {
	text-align: center;
	margin-bottom: 89px;
}
.program-star-wrap > p {
	color: #fff;
	font-family: 'PyeongChangPeace';
	font-size: 70px;
	font-style: normal;
	font-weight: 700;
	line-height: 24px;
}
.program-star-wrap > p > span {
	color: #fff;
	font-family: 'NanumSquareNeo-Variable';
	font-size: 24px;
	font-style: normal;
	font-weight: 800;
	line-height: 24px;
}
.program-blackcon-wrap {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-bottom: 173px;
}
.program-speechbubble {
	position: relative;
	z-index: 10;
}
.program-speechbubble .program-speechbubble-txt {
	position: absolute;
	top: 46px;
	left: 85px;
	z-index: 20;
}
.program-speechbubble .program-speechbubble-txt > p:first-child {
	font-family: 'NanumSquareNeo-Variable';
	font-size: 30px;
	font-style: normal;
	font-weight: 800;
	line-height: 39px; /* 130% */
	letter-spacing: -0.6px;
	margin-bottom: 14px;
}
.program-speechbubble .program-speechbubble-txt > p:last-child {
	color: #585858;
	font-family: 'NanumSquareNeo-Variable';
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 33px;
	letter-spacing: -0.4px;
	text-align: justify;
}
.program-speechbubble .program-speechbubble-txt > p > span {
	font-weight: 800;
}
.program-speechbubble .mspeechbubble {
	display: none;
}
.program-point-wrap {
	margin-bottom: 172px;
}
.program-point-wrap > p {
	color: #fff;
	font-family: 'PyeongChangPeace';
	font-size: 30px;
	font-style: normal;
	font-weight: 700;
	line-height: 47px; /* 156.667% */
	text-align: center;
	margin-bottom: 40px;
}
.program-point-list {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.program-point-box {
	border-radius: 8px;
	background: #d9d9d9;
	box-shadow: 4px 4px 15px 0px rgba(0, 0, 0, 0.2);
	padding: 30px;
}
.program-point-box:not(:last-child) {
	margin-right: 21px;
}
.program-point-box > h6 {
	color: #000;
	font-family: 'PyeongChangPeace';
	font-size: 24px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	margin-bottom: 10px;
}
.program-point-box > p {
	color: #585858;
	font-family: 'NanumSquareNeo-Variable';
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 35px; /* 194.444% */
	letter-spacing: -0.36px;
}
.program-point-box:nth-child(2) > p {
	margin-bottom: 24px;
}
.program-point-box:nth-child(3) > p {
	margin-bottom: 14px;
}
.program-cast-wrap > h2 {
	font-family: 'PyeongChangPeace';
	font-size: 60px;
	font-style: normal;
	font-weight: 700;
	line-height: 53px; /* 88.333% */
	color: #fff;
	text-align: center;
	margin-bottom: 90px;
}
.program-cast-list {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
}
.program-cast-box {
	color: #fff;
}
.program-cast-box:not(:last-child) {
	margin-right: 20px;
}
.program-cast-box > img {
	margin-bottom: 40px;
}
.program-cast-txt > h5 {
	font-family: 'NanumSquareNeo-Variable';
	font-size: 28px;
	font-style: normal;
	font-weight: 800;
	line-height: 37px; /* 132.143% */
	letter-spacing: -0.28px;
	margin-bottom: 18px;
	text-align: center;
}
.program-cast-txt > p {
	color: #9c9c9c;
	text-align: center;
	font-family: 'NanumSquareNeo-Variable';
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	letter-spacing: -0.16px;
}
.program-cast-box:nth-child(3),
.program-cast-box:nth-child(4) {
	/* color: #9C9C9C; */
	text-align: center;
	font-family: 'NanumSquareNeo-Variable';
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	letter-spacing: -0.14px;
}

/* section07 */
.section07 {
	padding: 100px 320px 200px;
}
.contingent-wrap > h6 {
	color: #000;
	font-family: 'PyeongChangPeace';
	font-size: 30px;
	font-style: normal;
	font-weight: 700;
	line-height: 53px; /* 176.667% */
	margin-bottom: 30px;
	position: relative;
}
.contingent-wrap > h6::after {
	content: '';
	position: absolute;
	bottom: -30px;
	left: 0;
	width: 1280px;
	height: 2.5px;
	background: #0037ff;
}
.contingent-box {
	padding-top: 25px;
}
.contingent-list-wrap {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	margin-bottom: 100px;
}
.contingent-box > p:first-child {
	color: #000;
	font-family: 'NanumSquareNeo-Variable';
	font-size: 30px;
	font-style: normal;
	font-weight: 800;
	line-height: 37px; /* 123.333% */
	letter-spacing: -0.3px;
	margin-bottom: 17px;
}
.contingent-box > p:last-child {
	color: #000;
	font-family: 'NanumSquareNeo-Variable';
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: 37px; /* 154.167% */
	letter-spacing: -0.24px;
}
.contingent-box:nth-child(1) {
	margin-right: 101px;
}
.contingent-box:nth-child(2) {
	margin-right: 313px;
}
.staff-wrap > h6 {
	color: #000;
	font-family: 'PyeongChangPeace';
	font-size: 30px;
	font-style: normal;
	font-weight: 700;
	line-height: 53px; /* 176.667% */
	margin-bottom: 10px;
}
.staff-wrap > p {
	color: #000;
	font-family: 'PyeongChangPeace';
	font-size: 30px;
	font-style: normal;
	font-weight: 300;
	line-height: 53px; /* 176.667% */
	margin-bottom: 14px;
	position: relative;
}
.staff-wrap > p::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 1280px;
	height: 2.5px;
	background: #0037ff;
}
.staff-list-wrap {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	flex-wrap: nowrap;
	margin-bottom: 100px;
}
.staff-box {
	margin-bottom: 25px;
}
.staff-box > p:first-child {
	color: #000;
	font-family: 'NanumSquareNeo-Variable';
	font-size: 30px;
	font-style: normal;
	font-weight: 800;
	line-height: 37px; /* 123.333% */
	letter-spacing: -0.3px;
	margin-bottom: 16px;
}
.staff-box > p:first-child > .more-btn {
	display: none;
}
.staff-box > p:last-child {
	color: #000;
	font-family: 'NanumSquareNeo-Variable';
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 25px; /* 138.889% */
	letter-spacing: -1px;
}
.m-more {
	display: none;
}

.staff-list-wrap:nth-of-type(1) .staff-box:nth-child(1) {
	margin-right: 49px;
}
.staff-list-wrap:nth-of-type(1) .staff-box:nth-child(2) {
	margin-right: 35px;
}
.staff-list-wrap:nth-of-type(2) .staff-box:nth-child(1) {
	margin-right: 143px;
}
.staff-list-wrap:nth-of-type(2) .staff-box:nth-child(2) {
	margin-right: 73px;
}
.staff-list-wrap:nth-of-type(3) .staff-box:nth-child(1) {
	margin-right: 113px;
}
.staff-list-wrap:nth-of-type(3) .staff-box:nth-child(2) {
	margin-right: 102px;
}
.staff-list-wrap:nth-of-type(4) .staff-box:nth-child(1) {
	margin-right: 182px;
}
.staff-list-wrap:nth-of-type(4) .staff-box:nth-child(2) {
	margin-right: 183px;
}
.author-wrap > h6 {
	color: #000;
	font-family: 'PyeongChangPeace';
	font-size: 30px;
	font-style: normal;
	font-weight: 300;
	line-height: 53px; /* 176.667% */
	margin-bottom: 14px;
	position: relative;
}
.author-wrap > h6::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 1280px;
	height: 2.5px;
	background: #0037ff;
}
.author-list-box {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	flex-wrap: nowrap;
	margin-bottom: 25px;
}
.author-box > p:first-child {
	color: #000;
	font-family: 'NanumSquareNeo-Variable';
	font-size: 30px;
	font-style: normal;
	font-weight: 800;
	line-height: 37px; /* 123.333% */
	letter-spacing: -0.3px;
	margin-bottom: 16px;
}
.author-box .more-btn {
	display: none;
}
.author-box > p:last-child {
	color: #000;
	font-family: 'NanumSquareNeo-Variable';
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 25px; /* 138.889% */
	letter-spacing: -1.6px;
}
.author-list-box:nth-of-type(1) .author-box:nth-child(1) {
	margin-right: 126px;
}
.author-list-box:nth-of-type(1) .author-box:nth-child(2) {
	margin-right: 143px;
}
.author-list-box:nth-of-type(2) .author-box:nth-child(1) {
	margin-right: 0px;
}
.author-list-box:nth-of-type(2) .author-box:nth-child(2) {
	margin-right: 180px;
}
.author-list-box:nth-of-type(3) .author-box:nth-child(1) {
	margin-right: 217px;
}
.author-list-box:nth-of-type(3) .author-box:nth-child(2) {
	margin-right: 217px;
}
.author-list-box:nth-of-type(4) .author-box:nth-child(1) {
	margin-right: 217px;
}
.author-list-box:nth-of-type(4) .author-box:nth-child(2) {
	margin-right: 110px;
}

/* seciton08 */
.seciton08 {
	background: #000;
	color: #fff;
	padding: 92px 0 94px;
	margin-top: 90px;
}
.sponsor-wrap {
	position: relative;
}
.sponsor-wrap > h3 {
	color: #fff;
	font-family: 'PyeongChangPeace';
	font-size: 60px;
	font-style: normal;
	font-weight: 700;
	line-height: 53px; /* 88.333% */
	text-align: center;
	margin-bottom: 80px;
}
.sponsor-give-production-wrap {
	text-align: center;
	margin-bottom: 119px;
	width: 1279px;
	margin: 0 auto;
}
.sponsor-give-production-wrap > p:nth-child(1) {
	color: #fff;
	text-align: center;
	font-family: 'PyeongChangPeace';
	font-size: 30px;
	font-style: normal;
	font-weight: 300;
	line-height: 32px; /* 106.667% */
	letter-spacing: -0.3px;
	margin-bottom: 36px;
}
.sponsor-give-production-wrap > p:nth-child(2) {
	color: #fff;
	text-align: center;
	font-family: 'NanumSquareNeo-Variable';
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 32px; /* 177.778% */
	letter-spacing: -0.18px;
	margin-bottom: 30px;
}
.sponsor-give-production-wrap > button {
	width: 287px;
	height: 60px;
	flex-shrink: 0;
	border-radius: 100px;
	border: 1px solid #fff;
	text-align: center;
	color: #fff;
	text-align: center;
	font-family: 'NanumSquareNeo-Variable';
	font-size: 20px;
	font-style: normal;
	font-weight: 800;
	line-height: normal;
	letter-spacing: -0.2px;
	margin-bottom: 90px;
}
.sponsor-give-production-wrap > p:nth-of-type(3) {
	color: #fff;
	text-align: center;
	font-family: 'NanumSquareNeo-Variable';
	font-size: 28px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	letter-spacing: -0.28px;
	margin-bottom: 50px;
	line-height: 1.5;
}
.sponsor-give-production-wrap > p:nth-of-type(3) > span {
	color: #fff;
	font-family: 'NanumSquareNeo-Variable';
	font-size: 28px;
	font-style: normal;
	font-weight: 800;
	line-height: normal;
	letter-spacing: -0.28px;
}
.sponsor-list {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
}
.sponsor-box {
	width: 413px;
	height: 295px;
	flex-shrink: 0;
	border-radius: 8px;
	background: rgba(156, 156, 156, 0.6);
	text-align: center;
}
.sponsor-box:not(:last-child) {
	margin-right: 20px;
}
.sponsor-box > img {
	margin: auto;
	margin-top: 44px;
}
.sponsor-box:not(:last-child) > img {
	margin-bottom: 52px;
}
.sponsor-box:last-child > img {
	margin-bottom: 20px;
}
.sponsor-box > p {
	color: #fff;
	text-align: center;
	font-family: 'NanumSquareNeo-Variable';
	font-size: 26px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	letter-spacing: -0.26px;
	line-height: 1.5;
}
.sponsor-give-wrap {
	width: 1279px;
	margin: 100px auto 140px;
}
.sponsor-give-wrap > h5 {
	color: #fff;
	font-family: 'NanumSquareNeo-Variable';
	font-size: 30px;
	font-style: normal;
	font-weight: 800;
	line-height: 25px; /* 83.333% */
	letter-spacing: -0.3px;
	margin-bottom: 40px;
}
.sponsor-give-wrap > p {
	color: #fff;
	font-family: 'NanumSquareNeo-Variable';
	font-size: 18px;
	font-style: normal;
	font-weight: 300;
	line-height: 32px; /* 177.778% */
	letter-spacing: -0.18px;
}
.sponsor-give-wrap > p > span {
	color: #fff;
	font-family: 'NanumSquareNeo-Variable';
	font-size: 18px;
	font-style: normal;
	font-weight: 700;
	line-height: 32px;
	letter-spacing: -0.18px;
}
.sponsor-infomation-wrap {
	width: 1279px;
	margin: 0 auto 94px;
}
.sponsor-infomation-wrap > h5 {
	color: #fff;
	font-family: 'NanumSquareNeo-Variable';
	font-size: 30px;
	font-style: normal;
	font-weight: 800;
	line-height: 25px; /* 83.333% */
	letter-spacing: -0.3px;
	margin-bottom: 40px;
}
.sponsor-infomation-wrap > p {
	color: #fff;
	font-family: 'NanumSquareNeo-Variable';
	font-size: 18px;
	font-style: normal;
	font-weight: 800;
	line-height: 32px; /* 177.778% */
	letter-spacing: -0.18px;
	margin-bottom: 40px;
}
.sponsor-infomation-box {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	border-radius: 8px;
	background: rgba(156, 156, 156, 0.6);
	width: 638px;
	height: 166px;
	flex-shrink: 0;
}
.sponsor-infomation-box > p:first-child {
	color: #fff;
	font-family: 'PyeongChangPeace';
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: 30px; /* 150% */
	letter-spacing: -0.2px;
	margin-right: 32px;
}
.sponsor-infomation-box > p:last-child {
	color: #fff;
	font-family: 'NanumSquareNeo-Variable';
	font-size: 18px;
	font-style: normal;
	font-weight: 800;
	line-height: 30px; /* 166.667% */
	letter-spacing: -0.18px;
}

/* footer */
footer {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 50px 0;
}
.info-ceo {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-bottom: 27px;
	margin-right: 130px;
}
.info-ceo > p:first-child {
	color: #000;
	font-family: 'NanumSquareNeo-Variable';
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 25px; /* 156.25% */
	letter-spacing: -0.16px;
	margin-right: 47px;
}
.info-ceo > p:last-child {
	color: #000;
	font-family: 'NanumSquareNeo-Variable';
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 25px; /* 156.25% */
	letter-spacing: -0.16px;
}
.info-copy > p {
	color: #000;
	font-family: 'NanumSquareNeo-Variable';
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 25px; /* 156.25% */
	letter-spacing: -0.16px;
}
.info-box {
	position: relative;
}
.info-box::after {
	content: '';
	position: absolute;
	top: 0;
	right: 79px;
	width: 0.5px;
	height: 169px;
	background: rgba(0, 0, 0, 0.5);
}
.korea-info-wrap > p {
	color: #000;
	font-family: 'NanumSquareNeo-Variable';
	font-size: 16px;
	font-style: normal;
	font-weight: 300;
	line-height: 25px; /* 156.25% */
	letter-spacing: -0.16px;
}

/* 반응형 */

@media screen and (max-width: 1280px) {
	header {
		padding: 50px;
	}
	.program-container.swiper-wrapper {
		height: 710px;
	}
	.program-wrap {
		height: 800px;
	}
	.section06 {
		padding: 70px 2%;
	}
	.program-speechbubble .program-speechbubble-txt > p:last-child {
		font-size: 18px;
	}
	.section07 {
		padding: 100px 2% 200px;
	}
	.project-wrap > p:first-of-type::before {
		width: 1070px;
		height: 200px;
	}
	.seciton08 {
		padding: 10% 2%;
	}
	.sponsor-box {
		width: 32%;
	}
	.sponsor-box > p {
		font-size: 22px;
	}
	.sponsor-give-production-wrap,
	.sponsor-give-wrap,
	.sponsor-infomation-wrap {
		width: 98%;
	}
	.section05 {
		padding: 196px 0 100px 200px;
	}
	.staff-wrap > p::after {
		width: 100%;
	}
	.contingent-wrap > h6::after {
		width: 100%;
	}
	.author-wrap > h6::after {
		width: 100%;
	}
}
@media screen and (max-width: 1024px) {
	header {
		padding: 50px 20px;
	}
	.logo-box img:first-child {
		margin-right: 20px;
	}
	.section02 {
		padding: 90px 100px 100px;
	}
	.section05 {
		padding: 100px;
	}
	.project-wrap > p:first-of-type::before {
		width: 800px;
	}
	.program-container.swiper-wrapper {
		margin-left: 200px;
	}
	.program-speechbubble .program-speechbubble-txt > p:last-child {
		font-size: 12px;
	}
	.program-speechbubble .program-speechbubble-txt > p:last-child {
		line-height: 1.3;
	}
	footer {
		padding: 50px 2%;
	}
	.info-ceo {
		margin-right: 100px;
	}
	.info-box::after {
		right: 30px;
		height: 270px;
	}
}
@media screen and (max-width: 900px) {
	header {
		flex-direction: column;
	}
	.sponsor-box > p {
		font-size: 18px;
	}
	.program-wrap {
		height: 1000px;
	}
	.program-container.swiper-wrapper {
		height: 890px;
	}
	.program-container.swiper-wrapper {
		margin-left: 0;
	}
	.program-blackcon-wrap {
		flex-direction: column;
	}
	.program-speechbubble .program-speechbubble-txt > p:last-child {
		font-size: 18px;
	}
	.section07 {
		padding: 100px 2% 100px;
	}
	.sponsor-box > p {
		font-size: 16px;
	}
	.info-box::after {
		right: 50px;
		height: 290px;
	}
	.popup {
		width: 90%;
		height: calc(100vh - 50px);
	}
}
@media screen and (max-width: 768px) {
	.info-box::after {
		right: 25px;
		height: 275px;
	}
	.contingent-box:nth-child(2) {
		margin-right: 100px;
	}
	.program-speechbubble .program-speechbubble-txt > p:last-child {
		font-size: 17px;
	}
}
@media screen and (max-width: 540px) {
	header {
		flex-direction: column;
	}
	.logo-box {
		justify-content: flex-start;
		align-items: flex-start;
	}
	.header-txt span::before {
		width: 245px;
	}
	.btn-txt {
		width: 100%;
	}
	.project-wrap > p:first-of-type::before {
		width: 100%;
		height: 500px;
	}
	.contingent-box:nth-child(1),
	.contingent-box:nth-child(2) {
		margin-right: 20px;
	}
	.staff-list-wrap:nth-of-type(4) .staff-box:nth-child(1) {
		margin-right: 20px;
	}
	.staff-list-wrap:nth-of-type(4) .staff-box:nth-child(2) {
		margin-right: 20px;
	}
	.author-list-box:nth-of-type(1) .author-box:nth-child(1) {
		margin-right: 20px;
	}
	.author-list-box:nth-of-type(1) .author-box:nth-child(2) {
		margin-right: 20px;
	}
	.author-list-box:nth-of-type(2) .author-box:nth-child(2) {
		margin-right: 20px;
	}
	.author-list-box:nth-of-type(3) .author-box:nth-child(1) {
		margin-right: 20px;
	}
	.author-list-box:nth-of-type(3) .author-box:nth-child(2) {
		margin-right: 20px;
	}
	.author-list-box:nth-of-type(4) .author-box:nth-child(1) {
		margin-right: 20px;
	}
	.author-list-box:nth-of-type(4) .author-box:nth-child(2) {
		margin-right: 20px;
	}
	.staff-list-wrap:nth-of-type(3) .staff-box:nth-child(1) {
		margin-right: 20px;
	}
	.staff-list-wrap:nth-of-type(3) .staff-box:nth-child(2) {
		margin-right: 20px;
	}
	.staff-list-wrap:nth-of-type(2) .staff-box:nth-child(1) {
		margin-right: 20px;
	}
	.staff-list-wrap:nth-of-type(2) .staff-box:nth-child(2) {
		margin-right: 20px;
	}
	.sponsor-infomation-box {
		width: 100%;
		height: auto;
		padding: 5%;
		box-sizing: border-box;
	}
	footer {
		flex-direction: column;
	}
	.info-box::after {
		display: none;
	}
	.korea-info-wrap > p {
		margin-top: 30px;
	}
	.section02 {
		padding: 90px 30px 100px;
	}
	.program-speechbubble img {
		display: none;
	}
	.program-speechbubble .program-speechbubble-txt > p:first-child {
		width: 100%;
		margin: 0 auto;
		color: #fff;
	}
	.program-speechbubble .program-speechbubble-txt {
		position: relative;
		top: 20px;
		left: 0;
		width: 300px;
		height: auto;
	}
	.program-speechbubble .program-speechbubble-txt > p:last-child {
		color: #fff;
	}
	.program-point-list,
	.program-cast-list {
		flex-direction: column;
	}
	.program-point-box:not(:last-child),
	.program-cast-box:not(:last-child) {
		margin-right: 0;
	}
	.program-point-box {
		margin-bottom: 30px;
	}
	.program-cast-box {
		margin-bottom: 30px;
		width: 100%;
		text-align: center;
	}
	.program-cast-box img {
		display: inline;
	}
	.program-box {
		padding: 30px;
	}
	.program-wrap {
		height: 1070px;
	}
	.program-container.swiper-wrapper {
		height: 1000px;
	}
	.intro-txt-wrap .intro-txt-box {
		padding: 30px;
	}
	.intro-txt-wrap .intro-txt-box p:last-child {
		font-size: 20px;
		line-height: 1.5;
	}
	.section05 > h3 {
		font-size: 50px;
	}
	.project-wrap > p:first-of-type::before {
		height: 210px;
	}
	.project-wrap > p:first-of-type {
		font-size: 50px;
	}
	.section06 > h2 {
		font-size: 50px;
	}
	.project-wrap > p:last-of-type {
		font-size: 24px;
		line-height: 1.5;
	}
	.cul-project h2 {
		font-size: 50px;
	}
	.cul-project p {
		margin-bottom: 0;
		font-size: 9px;
	}
	.cul-project p:nth-child(1) {
		line-height: 1.5;
	}
	.cul-sns {
		position: relative;
		top: auto;
		left: auto;
		bottom: auto;
		margin-top: 30px;
	}
	.cul-wrap {
		flex-direction: column;
	}
	.section03 {
		background-size: cover;
		padding: 100px 2% 120px;
		box-sizing: border-box;
	}
	.contingent-box > p:first-child {
		font-size: 24px;
	}
	.cul-sns > a:first-child,
	.cul-sns .youtube,
	.cul-sns .instagram,
	.cul-sns > a:last-child {
		width: 111.67px;
		height: 27.604px;
		font-size: 10px;
		margin-bottom: 7px;
	}
	.cul-wrap {
		flex-direction: column;
		flex-wrap: nowrap;
		align-items: center;
	}
	.cul-img img {
		width: 257px;
	}
	.cul-project p span,
	.cul-project p:nth-child(1) {
		line-height: 17.475px; /* 189.286% */
	}
	.cul-project div {
		display: inline-block;
	}
	.cul-project p span {
		margin-left: 11px;
		text-align: left;
	}
	.cul-project p {
		position: relative;
		padding-left: 70px;
	}
	.cul-project p > strong {
		position: absolute;
		left: 0;
		width: 70px;
		text-align: right;
	}
	.section02 > p {
		font-size: 20px;
	}
}
@media (min-width: 320px) and (max-width: 400px) {
	header,
	.section01 .cul-img::before,
	.section01 .cul-img::after {
		display: none;
	}
	.cul-wrap {
		flex-direction: column;
		flex-wrap: nowrap;
		align-items: center;
	}
	.cul-img img {
		width: 257px;
	}
	.cul-project p span,
	.cul-project p:nth-child(1) {
		line-height: 17.475px; /* 189.286% */
	}
	.cul-project div {
		display: inline-block;
	}
	.cul-project p span {
		margin-left: 11px;
		text-align: left;
	}
	.cul-project p {
		position: relative;
		padding-left: 70px;
	}
	.cul-project p > strong {
		position: absolute;
		left: 0;
		width: 70px;
		text-align: right;
	}

	/* section01 */
	.section01 {
		padding: 99px 0 44px 0;
	}
	.section01 > div {
		padding: 24px 24px 0 24px;
	}
	.cul-project h2 {
		font-size: 28px;
	}
	.cul-project h2::after {
		width: 306px;
		left: 50%;
		transform: translateX(-50%);
	}
	.cul-project p {
		font-size: 9.232px;
		margin-bottom: 0;
		line-height: inherit;
	}
	.cul-sns {
		position: inherit;
		margin-top: 34px;
	}
	.cul-sns > a:first-child,
	.cul-sns .youtube,
	.cul-sns .instagram,
	.cul-sns > a:last-child {
		width: 111.67px;
		height: 27.604px;
		font-size: 10px;
		margin-bottom: 7px;
	}
	.cul-sns .youtube p,
	.cul-sns .instagram p {
		margin-right: 4px;
	}
	.cul-sns .youtube > img,
	.cul-sns .instagram > img {
		width: 10.288px;
	}

	/* section02 */
	.section02 {
		padding: 60px 24px;
	}
	.section02 h3 {
		font-size: 28px;
		margin-bottom: 24px;
	}
	.section02 > p {
		font-size: 16px;
		line-height: 22px; /* 137.5% */
	}

	/* section03 */
	.section03 {
		padding: 63px 24px 70px;
		width: auto;
	}
	.section03 h3 {
		font-size: 25px;
		margin: auto;
		margin-bottom: 34px;
	}
	.section03 > p {
		font-size: 16px;
		line-height: 22px;
		letter-spacing: -0.64px;
		margin: auto;
		margin-bottom: 60px;
		line-height: 1.5;
	}
	.btn-txt {
		width: 329px;
		margin: 0;
		padding: 16px 0;
	}
	.btn-txt p {
		width: 248px;
		font-size: 20px;
		font-style: normal;
		font-weight: 300;
		line-height: normal;
		margin: auto;
	}
	/* section05 */
	.section05 {
		padding: 70px 24px 90px 24px;
	}
	.section05 .intro-txt-wrap .intro-container .intro-txt-box {
		padding: 30px 16px 33px;
	}
	.section05 > h3 {
		font-size: 28px;
		margin-bottom: 40px;
	}
	.section05 .intro-num {
		padding-bottom: 20px;
	}
	.section05 .intro-num span:first-child {
		margin-right: 14px;
	}
	.intro-txt-wrap .intro-txt-box p:first-child {
		font-size: 16px;
		margin-bottom: 28px;
	}
	.intro-txt-wrap .intro-txt-box p:last-child {
		font-size: 16px;
		line-height: 22px; /* 137.5% */
		letter-spacing: -0.48px;
	}
	.project-wrap {
		position: relative;
	}
	.project-wrap::before {
		content: '';
		position: absolute;
		top: -28px;
		left: 0;
		width: 342px;
		height: 1px;
		border-bottom: 1px solid #000;
	}
	.project-wrap > h3 {
		width: 200px;
		font-size: 30px;
		font-style: normal;
		font-family: 'PyeongChangPeace';
		font-weight: 300;
	}
	.project-wrap > p:first-of-type::before {
		width: 342px;
	}
	.project-wrap > p:first-of-type {
		font-size: 36px;
		width: 342px;
		line-height: normal;
		margin-bottom: 28px;
	}
	.project-wrap > p:first-of-type > span {
		font-size: 20px;
	}
	.project-wrap > p:last-of-type {
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: 22px; /* 137.5% */
		letter-spacing: -0.32px;
		margin-bottom: 35px;
	}
	.project-say {
		flex-direction: column;
		align-items: center;
	}
	.project-say img {
		width: 39px;
		margin-bottom: 19px;
		margin-right: 0;
	}
	.project-say > p {
		width: 344px;
		font-size: 20px;
		font-style: normal;
		font-weight: 800;
		line-height: 31px; /* 155% */
		letter-spacing: -0.2px;
	}
	.project-say span {
		display: inline-block;
		width: 100%; /* 또는 원하는 너비로 설정 */
	}
	.project-say span:after {
		content: '\A'; /* 줄바꿈 문자 표시 */
		white-space: pre; /* 공백을 유지하도록 설정 */
	}

	/* section06 */
	.section06 {
		padding: 60px 24px 104px;
	}
	.section06 > h2 {
		font-size: 30px;
	}
	.program-container {
		margin-left: 0;
	}
	.program-box > p:first-child {
		font-size: 20px;
		margin-bottom: 14px;
	}
	.program-box > p:nth-child(2) {
		font-size: 16px;
		margin-bottom: 20px;
	}
	.program-box > p:last-child {
		font-size: 16px;
		font-style: normal;
		font-weight: 700;
		line-height: 22px; /* 137.5% */
		letter-spacing: -0.16px;
	}
	.program-container {
		margin-bottom: 20px;
	}
	.program-num-box {
		margin-left: 0;
		margin-bottom: 104px;
	}
	.program-num-box > img:first-child {
		margin-right: 14px;
	}
	.program-star-wrap {
		margin-bottom: 5px;
	}
	.program-star-wrap > p {
		font-size: 30px;
		content: '\A'; /* 줄바꿈 문자 표시 */
		text-align: left;
	}
	.program-star-wrap > p > span {
		font-size: 20px;
		font-style: normal;
		font-weight: 800;
		line-height: normal;
	}
	.program-star-wrap > p::after {
		content: '\A';
		white-space: pre;
	}
	.program-star-wrap > p > span {
		display: inline-block;
		width: 100%; /* 또는 원하는 너비로 설정 */
		font-size: 20px;
		line-height: normal;
		text-align: left;
	}
	.program-blackcon-wrap {
		flex-direction: column;
		margin-bottom: 110px;
	}
	.program-blackcon-wrap > img {
		width: 126px;
		margin-left: auto;
		margin-bottom: 5px;
	}
	.program-speechbubble > img {
		display: none;
	}
	.program-speechbubble .mspeechbubble {
		display: block;
	}
	.program-speechbubble .mspeechbubble > img {
		width: 342px;
		height: 440px;
	}
	.program-speechbubble .program-speechbubble-txt {
		top: 25px;
		left: 22px;
	}
	.program-speechbubble .program-speechbubble-txt > p:first-child {
		font-size: 20px;
		margin-bottom: 20px;
		line-height: 1.2;
	}
	.program-speechbubble .program-speechbubble-txt > p:last-child {
		width: 290px;
		font-size: 14px;
		font-style: normal;
		line-height: 19px; /* 135.714% */
		letter-spacing: -0.28px;
	}
	.program-point-wrap {
		margin-bottom: 70px;
	}
	.program-point-list {
		flex-direction: column;
		align-items: center;
	}
	.program-point-box {
		width: 297px;
		margin-bottom: 16px;
	}
	.program-point-box:not(:last-child) {
		margin-right: 0;
	}
	.program-point-box > h6 {
		font-size: 20px;
		margin-bottom: 17px;
	}
	.program-point-box > p {
		font-size: 14px;
		font-style: normal;
		font-weight: 400;
		line-height: 22px; /* 157.143% */
		letter-spacing: -0.4px;
	}
	.program-point-box:last-child > h6:first-child {
		color: #3a3a3a;
	}
	.program-cast-list {
		flex-direction: column;
		align-items: center;
		padding: 0 9px;
	}
	.program-cast-box:not(:last-child) {
		margin-right: 0;
	}
	.program-cast-wrap > h2 {
		font-size: 30px;
		margin-bottom: 40px;
	}
	.program-cast-txt {
		margin-bottom: 60px;
	}
	.program-cast-txt > h5 {
		font-size: 16px;
		margin-bottom: 4px;
		font-weight: 800;
		line-height: 37px; /* 231.25% */
		letter-spacing: -0.16px;
	}
	.program-cast-txt > p {
		font-size: 14px;
		margin-bottom: 0;
	}

	/* section07 */
	.section07 {
		padding: 60px 23px;
	}
	.contingent-wrap > h6 {
		font-size: 30px;
		text-align: center;
	}
	.contingent-wrap > h6::after {
		width: 329px;
		height: 2.5px;
	}
	.contingent-list-wrap {
		flex-direction: column;
	}
	.contingent-box > p:first-child {
		font-size: 30px;
		margin-bottom: 17px;
	}
	.contingent-box > p:last-child {
		font-size: 24px;
		margin-bottom: 40px;
		letter-spacing: -1px;
	}
	.contingent-box:nth-child(1) {
		margin-right: 0;
	}
	.contingent-box:nth-child(2) {
		margin-right: 0;
	}
	.staff-wrap > h6 {
		text-align: center;
	}
	.staff-wrap > p {
		color: #fff;
	}
	.staff-box > p:first-child {
		display: flex;
		flex-direction: row;
		justify-content: center;
		margin-right: 24px;
		margin-bottom: 0;
	}
	.staff-box > p:first-child .more-btn,
	.author-box > p:first-child .more-btn {
		display: block;
		color: #000;
		font-family: NanumSquareOTF;
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: 37px; /* 231.25% */
		letter-spacing: -0.16px;
		text-decoration-line: underline;
		margin-left: 25px;
	}
	.staff-wrap > p::after {
		width: 329px;
		bottom: 35px;
	}
	.staff-list-wrap {
		flex-direction: column;
		margin-bottom: 0;
		text-align: center;
		margin-right: 0;
	}
	.staff-list-wrap:nth-of-type(1) .staff-box:nth-child(1),
	.staff-list-wrap:nth-of-type(1) .staff-box:nth-child(2),
	.staff-list-wrap:nth-of-type(2) .staff-box:nth-child(1),
	.staff-list-wrap:nth-of-type(2) .staff-box:nth-child(2),
	.staff-list-wrap:nth-of-type(3) .staff-box:nth-child(1),
	.staff-list-wrap:nth-of-type(3) .staff-box:nth-child(2),
	.staff-list-wrap:nth-of-type(4) .staff-box:nth-child(1),
	.staff-list-wrap:nth-of-type(4) .staff-box:nth-child(2),
	.author-list-box:nth-of-type(1) .author-box:nth-child(1),
	.author-list-box:nth-of-type(3) .author-box:nth-child(1),
	.author-list-box:nth-of-type(3) .author-box:nth-child(2),
	.author-list-box:nth-of-type(4) .author-box:nth-child(1),
	.author-list-box:nth-of-type(1) .author-box:nth-child(2),
	.author-list-box:nth-of-type(2) .author-box:nth-child(2),
	.author-list-box:nth-of-type(4) .author-box:nth-child(2) {
		margin-right: 0;
	}
	.author-wrap > h6 {
		text-align: center;
		font-weight: 700;
		margin-top: 75px;
		font-size: 30px;
		padding-bottom: 30px;
		margin-bottom: 50px;
	}
	.author-list-wrap {
		text-align: center;
	}
	.author-box {
		margin-bottom: 18px;
	}
	.author-list-box {
		flex-direction: column;
		margin-bottom: 0;
	}
	.author-wrap > h6::after {
		width: 329px;
	}
	.author-box > p:first-child {
		display: flex;
		flex-direction: row;
		justify-content: center;
		margin-right: 11px;
		margin-bottom: 0;
	}
	.author-box > p:first-child > .more-btn {
		display: block;
		color: #000;
		font-family: NanumSquareOTF;
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: 37px; /* 231.25% */
		letter-spacing: -0.16px;
		text-decoration-line: underline;
		margin-left: 25px;
	}
	.author-box .more-btn {
		display: block;
	}

	/* section08 */
	.seciton08 {
		padding: 60px 24px;
	}
	.sponsor-wrap > h3 {
		font-size: 30px;
		margin-bottom: 31px;
	}
	.sponsor-give-production-wrap {
		margin-bottom: 69px;
	}
	.sponsor-give-production-wrap > p:nth-child(1) {
		font-size: 24px;
		font-style: normal;
		font-weight: 300;
		line-height: 32px; /* 133.333% */
		letter-spacing: -0.4px;
		margin-bottom: 62px;
	}
	.sponsor-give-production-wrap > p:nth-child(2) {
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: 22px; /* 137.5% */
		letter-spacing: -0.16px;
		margin-bottom: 44px;
	}
	.sponsor-give-production-wrap > button {
		width: 231px;
		height: 45px;
		font-size: 16px;
		margin-bottom: 62px;
	}
	.sponsor-give-production-wrap > p:nth-of-type(3),
	.sponsor-give-production-wrap > p:nth-of-type(3) > span {
		font-size: 22px;
		letter-spacing: -0.22px;
	}
	.sponsor-give-production-wrap > p:nth-of-type(3) {
		margin-bottom: 38px;
	}
	.sponsor-list {
		flex-direction: column;
		align-items: center;
	}
	.sponsor-box {
		width: 329px;
		height: 172px;
		border-radius: 8px;
	}
	.sponsor-box:not(:last-child) {
		margin-bottom: 18px;
		margin-right: 0;
	}
	.sponsor-box > img {
		width: 42.858px;
		margin-top: 24px;
		margin-bottom: 22px !important;
	}
	.sponsor-box:last-child > img {
		margin-top: 12px !important;
		margin-bottom: 11px !important;
	}
	.sponsor-box > p {
		font-size: 20px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		letter-spacing: -0.2px;
	}
	.sponsor-give-wrap {
		margin-left: 0;
		margin-bottom: 0;
	}
	.sponsor-give-wrap > h5 {
		font-size: 28px;
		margin-bottom: 20px;
	}
	.sponsor-give-wrap > p {
		font-size: 13px;
		font-style: normal;
		font-weight: 300;
		line-height: 21px; /* 161.538% */
		letter-spacing: -1px;
		margin-bottom: 60px;
	}
	.sponsor-give-wrap > p > span {
		font-size: 13px;
		font-style: normal;
		font-weight: 700;
		line-height: 21px;
		letter-spacing: -0.13px;
		margin-bottom: 60px;
	}
	.sponsor-infomation-wrap {
		margin-left: 0;
		margin-bottom: 0;
	}
	.sponsor-infomation-wrap > h5 {
		font-size: 28px;
		margin-bottom: 20px;
	}
	.sponsor-infomation-wrap > p {
		font-size: 16px;
		font-style: normal;
		font-weight: 800;
		line-height: 22px; /* 137.5% */
		letter-spacing: -0.16px;
		margin-bottom: 40px;
	}
	.sponsor-infomation-box {
		width: 314px;
		height: 166px;
		padding: 0 12px;
		margin-bottom: 40px;
	}
	.sponsor-infomation-box > p:first-child {
		width: 60px;
		font-size: 20px;
		margin-right: 13px;
	}
	.sponsor-infomation-box > p:last-child {
		font-size: 14px;
		font-style: normal;
		font-weight: 800;
		line-height: 23px; /* 164.286% */
		letter-spacing: -0.6px;
	}
	footer {
		align-items: flex-start;
	}
	footer,
	.info-ceo {
		padding: 23px 0;
		flex-direction: column;
	}
	.info-ceo,
	.info-copy {
		letter-spacing: -0.8px;
	}
	.info-ceo,
	.info-copy,
	.korea-info-wrap {
		padding: 0 23px;
		margin-right: 0;
	}
	.info-box::after {
		display: none;
	}
	.info-ceo > p:first-child,
	.info-ceo > p:last-child,
	.info-copy > p {
		font-size: 14px;
		font-style: normal;
		font-weight: 400;
		line-height: 19px; /* 135.714% */
		letter-spacing: -0.14px;
	}
	.info-copy > p {
		margin-bottom: 30px;
	}
	.korea-info-wrap {
		position: relative;
	}
	.korea-info-wrap::after {
		content: '';
		position: absolute;
		top: -17px;
		left: 23px;
		width: 341px;
		height: 1px;
		background: rgba(0, 0, 0, 0.5);
	}
	.korea-info-wrap > p {
		font-size: 14px;
		font-style: normal;
		font-weight: 300;
		line-height: 19px; /* 135.714% */
		letter-spacing: -0.8px;
	}
	.staff-list-wrap .staff-box .more,
	.author-list-box .author-box .more {
		display: none;
	}
	.staff-list-wrap .staff-box,
	.author-list-box .author-box {
		position: relative;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
	}
	.more-btn .m-more {
		position: absolute;
		top: 60px;
		left: 0;
		z-index: 10;
		width: 329px;
		height: auto;
		flex-shrink: 0;
		border-radius: 8px;
		background: #f5f5f5;
		padding-top: 30px;
		padding-bottom: 30px;
	}
	.more-btn.active .m-more {
		display: block;
	}
	.project-wrap > p:first-of-type::before {
		height: 100px;
	}
}
